.login-page-container {
    width: 100%;
    height: 100vh;
    background-color: #DBE9FF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }

    .logo {
        width: 200px;
    }

    .login-form-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        background-color: white;
        margin-top: 50px;
        border-top: 5px solid #3761EE;
        padding: 15px 0;

        .welcome-tag {
            color: #444;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 0 15px;
        }
        .sub-tag {
            color: #444;
            font-weight: 400;
            font-size: 1.1rem;
            margin-top: 2px;
            padding: 0 15px;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding: 0 15px;

            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -1px #E5E5E5;
                    border-radius: 5px;
                    border: none;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #FF5C00;
                }
            }
        }
        .buttons-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            padding: 0 15px;
            margin-bottom: 20px;

            .login-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
            }
            .secondary-button {
                font-size: 0.9rem;
                color: #3761EE;
                cursor: pointer;
            }
        }
    }
}

@media (max-width : 800px) {
    .login-page-container {
        padding: 25px;
    
        .logo {
            width: 180px;
        }
    
        .login-form-container {
            width: 70%;
            margin-top: 40px;
    
        }
    }
}

@media (max-width : 600px) {
    .login-page-container {
        padding: 20px;
    
        .logo {
            width: 160px;
        }
    
        .login-form-container {
            width: 70%;
            margin-top: 40px;
    
            .welcome-tag {
                font-size: 1.3rem;
            }
            .sub-tag {
                font-size: 1rem;
            }
            
            .buttons-container {
                .secondary-button {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width : 450px) {
    .login-page-container {
        padding: 15px;
    
        .logo {
            width: 150px;
        }
    
        .login-form-container {
            width: 80%;
            margin-top: 30px;
    
            .welcome-tag {
                font-size: 1.1rem;
            }
            .sub-tag {
                font-size: 0.9rem;
            }
            .form-container {
    
                .field-container {
                    .tag {
                        font-size: 0.8rem;
                    }
                    .field {
                        font-size: 0.9rem;
                    }
                }
            }
            .buttons-container {
    
                .login-button {
                    font-size: 0.9rem;
                    padding: 5px 20px;
                }
                .secondary-button {
                    font-size: 0.7rem;
                }
            }
        }
    }
}