.colleges-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .search-container {
        background: #FFFFFF;
        box-shadow: 0px 0px 14px -1px #E5E5E5;
        border-radius: 5px;
        border: none;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;

        .search-bar {
            width: 100%;
            border: none;
            font-size: 1rem;
            color: #444;
            margin-left: 10px;
            outline: none;
            &::placeholder {
                color: rgba($color: #000000, $alpha: 0.2);
            }
        }
    }

    .college-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .title-button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 20px 20px 0;

            .section-title {
                font-size: 1rem;
                font-weight: 700;
                color: #444;
            }
            .button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
            }
        }
        
        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .colleges-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .colleges-container {
        padding: 10px;
        .college-list-container {

            .title-button-container {
                flex-direction: column;
                margin: 20px 20px 0;
    
                .section-title {
                    align-self: flex-start;
                }
                .button {
                    align-self: flex-end;
                    margin-top: 15px;
                }
            }
        }
    }
}