.job-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }

    .job-detail-container {
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;

        .title-delete-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .section-title {
                font-size: 1.2rem;
                font-weight: 700;
                color: #444;
                margin-left: 20px;
            }
            .delete-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .delete-tag {
                    color: #3761EE;
                    font-weight: 600;
                    font-size: 1rem;
                    margin-left: 5px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .left-field {
            grid-column: 1 / 2;
        }
        .right-field {
            grid-column: 2 / 3;
        }
        .ete-field {
            grid-column: 1 / 3;
        }
        
        .field-container {
            margin-top: 15px;
            .tag {
                font-size: 0.9rem;
                color: #444;
                font-weight: 500;
            }
            .field {
                font-size: 1rem;
                color: #444;
                background: #FFFFFF;
                box-shadow: 0px 0px 14px -1px #E5E5E5;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                &::placeholder {
                    color: rgba($color: #000000, $alpha: 0.2);
                }
            }
            .error-tag {
                font-size: 0.7rem;
                color: #FF5C00;
            }
        }

        .button {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 50px;
            width: 50%;
            margin-left: 25%;
        }

        .double-button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .button-type2 {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                margin-left: 15px;
                width: 20%;
            }
            .button-type2-secondary {
                border: #3761EE 2px solid;
                background-color: #fff;
                color: #3761EE;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                margin-right: 15px;
                width: 20%;
            }
        }
    }
}

@media (max-width: 700px) {
    .job-detail-container {
        padding: 20px;
    
        .job-detail-container {
    
            .section-title {
                margin-left: 0;
            }
    
            .left-field {
                grid-column: 1 / 3;
            }
            .right-field {
                grid-column: 1 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
        }
    }
}

@media (max-width: 500px) {
    .job-detail-container {
        padding: 10px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .job-detail-container {
            padding: 10px;
    
            .title-delete-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
    
                .section-title {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #444;
                    margin-left: 0;
                }
                .delete-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .delete-tag {
                        color: #3761EE;
                        font-weight: 600;
                        font-size: 1rem;
                        margin-left: 5px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
    
            .left-field {
                grid-column: 1 / 3;
            }
            .right-field {
                grid-column: 1 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
    
            .button {
                width: 70%;
                margin-left: 15%;
            }
        }
    }
}