.reports-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .tab-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;

        .selected {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 20px;
            cursor: pointer;
            margin-right: 20px;
        }
        .unselected {
            border: #3761EE 2px solid;
            background-color: #dbe9ff;
            color: #3761EE;
            padding: 5px 30px;
            border-radius: 20px;
            cursor: pointer;
            margin-right: 20px;
            font-weight: 600;
        }
    }
}

@media (max-width:700px) {
    .reports-container {
        padding: 20px;
    
        .tab-container {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            overflow-x: scroll;
    
            .selected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
            .unselected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
        }
    }
}

@media (max-width:500px) {
    .reports-container {
        padding: 10px;
    
        .tab-container {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            overflow-x: scroll;
    
            .selected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
            .unselected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
        }
    }
}