.assessment-results-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px -1px #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;


    p {
        margin: 0;
        padding: 0;
    }

    .course-export-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;

        .department-picker {
            width: 300px;
            margin-right: 15px;
            .picker-input {
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
            }
        }
    }

    .sub-title {
        font-weight: 700;
        color: #444;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    .picker-dropdown-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        .department-picker {
            width: 300px;
            margin-right: 15px;
            .picker-input {
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
            }
        }

        .search-button {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 15px;
            border-radius: 100px;
            cursor: pointer;
            font-size: 0.8rem;
        }
    }
}

@media (max-width:500px) {
    .assessment-results-container {
    
        .picker-dropdown-container {
            flex-direction: column;
    
            .department-picker {
                width: 300px;
                margin-right: 15px;
                margin-bottom: 20px;
                align-items: flex-start;
                .picker-input {
                    border: 1px solid rgba(204, 204, 204, 0.623);
                    padding: 10px 5px;
                }
            }
            .export-button {
                margin: 10px 0 20px;
                align-self: flex-end;
            }
        }
    }
}