.sidebar-navigation-container {
    user-select: none;
    .option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        margin: 0 20px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 10px;
        .option-container-title {
            margin-left: 15px;
            margin-top: 8px;
            font-size: 17px;
            font-weight: 600;
        }
    }

    .selected-option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        background-color: #3762ee1e;
        margin: 0 20px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 20px;
        .option-container-title {
            color: #3761EE;
            font-weight: 600;
            margin-left: 15px;
            margin-top: 8px;
            font-size: 17px;
        }
    }
}


@media (max-width: 1100px) {
    .sidebar-navigation-container {
        .option-container {
            margin: 0 15px;
            padding: 5px 0;
            padding-left: 10px;
            margin-top: 10px;
            .option-container-title {
                margin-left: 10px;
                margin-top: 8px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    
        .selected-option-container {
            margin: 0 10px;
            padding: 5px 0;
            padding-left: 15px;
            margin-top: 20px;
            .option-container-title {
                color: #3761EE;
                font-weight: 600;
                margin-left: 10px;
                margin-top: 8px;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 900px) {
    .sidebar-navigation-container {
        .option-container {
            margin: 0 10px;
            padding: 5px 0;
            padding-left: 5px;
            margin-top: 10px;
            .option-container-title {
                margin-left: 5px;
                margin-top: 8px;
                font-size: 15px;
                font-weight: 600;
            }
        }
    
        .selected-option-container {
            margin: 0 10px;
            padding: 5px 0;
            padding-left: 10px;
            margin-top: 15px;
            .option-container-title {
                color: #3761EE;
                font-weight: 600;
                margin-left: 5px;
                margin-top: 8px;
                font-size: 15px;
            }
        }
    }
   
}
