.job-stats-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px -1px #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;


    p {
        margin: 0;
        padding: 0;
    }

    .year-picker {
        min-width: 100px;
        .picker-input {
            border: 1px solid rgba(204, 204, 204, 0.623);
            padding: 10px 5px;
        }
    }

    .job-count {
        margin: 20px 10px 0;
        font-size: 1.2rem;
        font-weight: 600;
        color: #52E1E2;
    }
}