.logs-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px -1px #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;


    p {
        margin: 0;
        padding: 0;
    }
}