.edit-assessment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }

    .sub-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;

        .section-title {
            font-size: 1.2rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
        }

        .profile-logo {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-bottom: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 14px;
            border: 3px solid #3761EE;
            span {
                margin-top: 5px;
            }
        }

        .form-detail-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;

            .subtitle-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .subtitle {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #444;
                    margin-top: 10px;
                }
                .add-button {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #3761EE;
                    margin-top: 10px;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
            
            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                    font-weight: 500;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -1px #E5E5E5;
                    border-radius: 5px;
                    border: none;
                    font-weight: 600;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #FF5C00;
                }
            }
        }

        .button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    
            .button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;
                width: 250px;
            }
            .delete-button {
                border: #3761EE 2px solid;
                background-color: #fff;
                color: #3761EE;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;
                width: 250px;
            }
        }
    }
}

@media (max-width: 700px) {
    .edit-assessment-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .edit-assessment-container {
        padding: 10px;
    
        .back-logo-container {
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
    
        .sub-container {
            padding: 10px;
    
            .section-title {
                font-size: 1.2rem;
                font-weight: 700;
                color: #444;
                margin-left: 20px;
            }
    
            .form-detail-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
                
            }
    
            .button-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap-reverse;
        
                .button {
                    margin-top: 30px;
                    margin-bottom: 25px;
                }
                .delete-button {
                    margin-top: 0;
                    margin-bottom: 50px;
                }
            }
        }
    }
}