.home-container {
    background-color: #dbe9ff;
    height: 100vh;
    display: flex;
    flex-direction: row;

    p {
        margin: 0;
        padding: 0;
    }

    .sidebar {
        flex: 0.2;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        .logo {
            width: 200px;
            height: 150px;
            object-fit: contain;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    .content {
        flex: 0.8;
        height: 100vh;
        overflow-y: scroll;
        .collapsable-sidebar-wrapper {
            display: none;
            
        }
    }
}

@media (max-width: 1000px) {
    .home-container {
        .sidebar {
            flex: 0.3;
            .logo {
                width: 140px;
                height: 120px;
            }
        }
        .content {
            flex: 0.7;
            .collapsable-sidebar-wrapper {
                display: none;
            }
        }
    }
}


@media (max-width: 600px) {
    .home-container {
        flex-direction: column;
        .sidebar {
            display: none;
        }

        .content {
            flex: 1;
            .collapsable-sidebar-wrapper {
                display: flex;
            }
        }
    }
}