.company-profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }
    .company-profile-content {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
        .section-title {
            font-size: 1.2rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
        }

        .profile-logo {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-bottom: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 14px;
            border: 3px solid #3761EE;
            span {
                margin-top: 5px;
            }
        }

        .main-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            .text-label {
                font-size: 0.9rem;
                color: #444;
                font-weight: 500;
            }

            .text-input {
                font-size: 1rem;
                color: #444;
                background: #FFFFFF;
                box-shadow: 0px 0px 14px -1px #E5E5E5;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                &::placeholder {
                    color: rgba($color: #000000, $alpha: 0.2);
                }
            }

            .first-half {
                grid-column: 1 / 2;
            }

            .second-half {
                grid-column: 2 / 3;
            }

            .end-to-end {
                grid-column: 1 / 3;
            }

            .button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                width: 30%;
                margin-left: 35%;
            }
        }
    }
}

@media (max-width: 650px) {
    .company-profile-container {
        .company-profile-content {
            .main-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                .text-label {
                    font-weight: 500;
                    margin-left: 10px;
                }

                .text-input {
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 9px;
                    border: none;
                }

                .first-half {
                    grid-column: 1 / 3;
                }

                .second-half {
                    grid-column: 1 / 3;
                }

                .end-to-end {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    .company-profile-container {
        padding: 0 10px;
        grid-gap: 15px;
    }
}

@media (max-width: 450px) {
    .company-profile-container {

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap-reverse;
    
            .button {
                margin-top: 30px;
                margin-bottom: 25px;
            }
            .delete-button {
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
    }
}
