.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin: 0;
        padding: 0;
    }
    .name-plan-container {
        .name {
            font-size: 1.3rem;
            font-weight: 700;
            color: #444;
        }
        .plan {
            font-size: 1.1rem;
            color: #52E1E2;
            font-size: 600;
        }
    }

    .profile-picture {
        border-radius: 80px;
        border: #3761EE solid 3px;
    }
}