.applications-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }
    

    .list-container {
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .title-selector-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .section-title {
                font-size: 1.2rem;
                font-weight: 700;
                color: #444;
                margin-left: 20px;
            }

        }
        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}


@media (max-width: 700px) {
    .applications-page-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .applications-page-container {
        padding: 10px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .list-container {
            padding: 10px;
    
            .title-selector-container {
                flex-direction: column;
                .section-title {
                    align-self: flex-start;
                    margin-left: 10px;
                }
                .filter-buttons {
                    align-self: flex-end;
                    margin-top: 20px;
                }
    
            }
    
        }
    }
}