.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .stats-filter-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
            .filter-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: white;
                flex-wrap: wrap;
                align-items: flex-end;
                .year-picker {
                    min-width: 100px;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                    }
                }
                .department-picker {
                    min-width: 150px;
                    margin-right: 15px;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                    }
                }
                .search-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 100px;
                    cursor: pointer;
                    margin-left: 10px;
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                }
            }

            .stats-container-one {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                grid-gap: 20px;
                background-color: #fff;
                border-radius: 10px;
                margin-top: 20px;
                justify-content: space-evenly;
        
                .tag-data-container {
                    display: flex;
                    flex: 1;
                    width: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    
        
                    .tag {
                        font-weight: 500;
                        color: rgb(107, 107, 107);
                        font-size: 0.8rem;
                    }
                    .data {
                        font-weight: 700;
                        color: #444;
                        font-size: 1.5rem;
                    }
                    .conclusion {
                        font-weight: 600;
                        color: rgb(13, 182, 22);
                        font-size: 1rem;
                        text-align: end;
                        margin-top: 10px;
                        width: 100%;
                    }
                }
                .stat-bar {
                    width: 2px;
                    height: 80px;
                    background-color: #F0F3F7;
                    border-radius: 10px;
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
    }

    .stats-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 20px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .tag-data-container {
            
            display: flex;
            flex: 1;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            

            .tag {
                font-weight: 500;
                color: rgb(107, 107, 107);
                font-size: 0.8rem;
            }
            .data {
                font-weight: 700;
                color: #444;
                font-size: 1.5rem;
            }
            .conclusion {
                font-weight: 600;
                color: rgb(13, 182, 22);
                font-size: 1rem;
                text-align: end;
                margin-top: 10px;
                width: 100%;
            }
        }
        .stat-bar {
            width: 2px;
            height: 80px;
            background-color: #F0F3F7;
            border-radius: 10px;
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    .drives-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .section-title {
            font-size: 1rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }

        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .dashboard-container {
        padding: 20px;
        .stats-filter-container {
            .stats-container-one {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                
            }
        }
        .stats-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            
        }
    }
}


@media (max-width: 500px) {
    .dashboard-container {
        padding: 10px;
        .stats-filter-container {
            .filter-container {
                .year-picker {
                    margin-bottom: 10px;
                }
                .department-picker {
                    margin-bottom: 10px;
                }
                .search-button {
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
            .stats-container-one {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                
            }
        }
        .stats-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            
        }
    }
}
