.student-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        overflow-y: hidden;
        padding-bottom: 30px;

        .section-title {
            font-size: 1rem;
            font-weight: 700;
            color: #444;
            margin-top: 20px;
            margin-left: 20px;
        }
  
      .filter-container {
        display: flex;
        justify-content: flex-start;
        background-color: white;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 20px;
        .year-picker {
            min-width: 100px;
            .picker-input {
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
            }
        }
        .department-picker {
            min-width: 150px;
            margin-right: 15px;
            .picker-input {
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
            }
        }
        .search-button {
            height: 40px;
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 15px;
            border-radius: 100px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 0.8rem;
            margin-bottom: 15px;
      }
      }

      .table {
        width: 95%;
        margin: 15px auto;
        .table-body {
            .upgrade-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 15px;
                border-radius: 20px;
                cursor: pointer;
                align-self: center;
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
    }
    }
  
}
  
 
@media (max-width:700px) {
    .student-data-container {
        padding: 20px;
    }
}

@media (max-width:500px) {
    .student-data-container {
        padding: 10px;
    }
}