.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 20px;
  .search-input {
    flex: 1;
    margin-left: 10px;
    border: none;
    padding: 10px 10px;
    &:focus {
      outline: none;
    }
  }
}