.banners-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .tab-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;

        .selected {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 20px;
            cursor: pointer;
            margin-right: 20px;
        }
        .unselected {
            border: #3761EE 2px solid;
            background-color: #dbe9ff;
            color: #3761EE;
            padding: 5px 30px;
            border-radius: 20px;
            cursor: pointer;
            margin-right: 20px;
            font-weight: 600;
        }
    }

    .image-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;

        .add-title-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
    
            .title {
                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                user-select: none;
            }
            .add-image-container {
                display: flex;
                flex-direction: column;
                width:300px;
                height: 200px;
                cursor: pointer;
                align-items: center;
                margin: 15px 0;
                justify-content: center;
                border: 1.5px #ccc solid;
                border-radius: 10px;
    
                .sample-image {
                    width: 100px;
                    height: 100px;
                }
                .add-image-tag {
                    font-weight: 1rem;
                    font-weight: 600;
                    color: #ccc;
                    text-align: center;
                }
            }
        }

        

        .single-banner-container {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
    
            .title {
                font-size: 1.2rem;
                font-weight: 600;
                color: #444;
            }
    
            .add-banner-container {
                width:300px;
                .banner-delete-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .banner-image {
                        width:300px;
                        height: 200px;
                        margin: 15px 0;
                    }
    
                    .delete-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        align-self: center;
                        margin-top: 5px;
                        .delete {
                            font-weight: 600;
                            margin-left: 7px;
                            color: #CF4539;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
    
        }
    }
}

@media (max-width:700px) {
    .banners-container {
        padding: 20px;
    
        .tab-container {
            overflow-x: scroll;
        }
        .image-list-container {    
            .single-banner-container {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width:500px) {
    .banners-container {
        padding: 10px;
    
        .tab-container {
            overflow-x: scroll;
    
            .selected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
            .unselected {
                padding: 5px 10px;
                margin-right: 10px;
                min-width: 60%;
            }
        }
    
        .image-list-container {
            .single-banner-container {
                margin-top: 20px;
        
            }
        }
    }
}