.image-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;

    .add-title-container {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #fff;
            user-select: none;
        }
        .add-image-container {
            display: flex;
            flex-direction: column;
            width:300px;
            height: 200px;
            cursor: pointer;
            align-items: center;
            margin: 15px 0;
            justify-content: center;
            border: 1.5px #ccc solid;
            border-radius: 10px;

            .sample-image {
                width: 100px;
                height: 100px;
            }
            .add-image-tag {
                font-weight: 1rem;
                font-weight: 600;
                color: #ccc;
                text-align: center;
            }
        }
    }

    

    .single-banner-container {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
        }

        .add-banner-container {
            width:300px;
            .banner-delete-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .banner-image {
                    width:300px;
                    height: 200px;
                    margin: 15px 0;
                    cursor: pointer;
                }

                .delete-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    align-self: center;
                    margin-top: 5px;
                    .delete {
                        font-weight: 600;
                        margin-left: 7px;
                        color: #CF4539;
                        font-size: 0.9rem;
                    }
                }
            }
        }

    }
}