.assessments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    p {
        margin: 0;
        padding: 0;
    }

    .title-list-container {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top: 20px;
        padding-bottom: 30px;

        .title-button-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 20px 20px 0;

            .section-title {
                font-size: 1rem;
                font-weight: 700;
                color: #444;
            }
            .button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 600;
            }
        }

        .course-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .course-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 150px;
                cursor: pointer;
                margin: 20px 10px;

                .logo-container {
                    width: 130px;
                    height: 130px;
                    border-radius: 130px;
                    background-color: #F7F9FC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .course-logo {
                        width: 80px;
                        height: 80px;
                    }
                }
                .course-name {
                    font-size: 1rem;
                    color: #444;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 15px;
                    width: 130px;
                }
            }
        }
    }
}

@media (max-width:700px) {
    .assessments-container {
        padding: 20px;
    }
}

@media (max-width:500px) {
    .assessments-container {
        padding: 10px;

        .title-list-container {
    
            .title-button-container {
                flex-direction: column;;
                margin: 20px 10px 20px;
    
                .section-title {
                    align-self: flex-start;
                }
                .button {
                    align-self: flex-end;
                    margin-top: 20px;
                }
            }
    
            .course-list-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    
                .course-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 150px;
                    cursor: pointer;
                    margin: 20px 10px;
    
                    .logo-container {
                        width: 130px;
                        height: 130px;
                        border-radius: 130px;
                        background-color: #F7F9FC;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        .course-logo {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    .course-name {
                        font-size: 1rem;
                        color: #444;
                        font-weight: 600;
                        text-align: center;
                        margin-top: 15px;
                        width: 130px;
                    }
                }
            }
        }
    }
}