.company-profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }
    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }
    .company-profile-content {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
        .section-title {
            font-weight: 600;
            font-size: 1.4rem;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .profile-logo {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-bottom: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 14px;
            border: 1px solid #3761EE;
            span {
                margin-top: 5px;
            }
        }

        .main-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .text-label {
                font-weight: 500;
                margin-left: 10px;
            }

            .text-input {
                background: #ffffff;
                box-shadow: 0px 0px 14px -1px #e5e5e5;
                border-radius: 9px;
                border: none;
            }

            .first-half {
                grid-column: 1 / 2;
            }

            .second-half {
                grid-column: 2 / 3;
            }

            .end-to-end {
                grid-column: 1 / 3;
            }
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .button {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 50px;
            margin-left: 10px;
            margin-right: 10px;
            width: 250px;
        }
        .delete-button {
            border: #3761EE 2px solid;
            background-color: #fff;
            color: #3761EE;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            align-self: center;
            margin-top: 30px;
            margin-bottom: 50px;
            margin-left: 10px;
            margin-right: 10px;
            width: 250px;
        }
    }
}

@media (max-width: 700px) {
    .company-profile-container {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .company-profile-container {
        padding: 10px;
        .back-logo-container {
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .company-profile-content {
            margin-top: 20px;
            padding: 10px 10px;
            .section-title {
                font-size: 1.2rem;
            }
    
            .main-form {
                .first-half {
                    grid-column: 1 / 3;
                }
    
                .second-half {
                    grid-column: 1 / 3;
                }
    
                .end-to-end {
                    grid-column: 1 / 3;
                }
            }
        }

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap-reverse;
    
            .button {
                margin-top: 30px;
                margin-bottom: 25px;
            }
            .delete-button {
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
    }
}