.offers-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }
    .back-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            width: 200px;
            margin-left: 10px;
        }
    }
    .table-container {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
        .section-title {
            font-size: 1.2rem;
            font-weight: 700;
            color: #444;
            margin-left: 20px;
        }
        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
        .resume-form-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            width: 95%;
            margin: 15px auto;

            .section-title {
                font-size: 1rem;
                font-weight: 600;
                color: #444;
                margin-top: 20px;
            }

            .subtitle-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .subtitle {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #444;
                    margin-top: 10px;
                }
                .add-button {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #3761EE;
                    margin-top: 10px;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
    
            .left-field {
                grid-column: 1 / 2;
            }
            .right-field {
                grid-column: 2 / 3;
            }
            .ete-field {
                grid-column: 1 / 3;
            }
            
            .field-container {
                margin-top: 15px;
                .tag {
                    font-size: 0.9rem;
                    color: #444;
                }
                .field {
                    font-size: 1rem;
                    color: #444;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -1px #E5E5E5;
                    border-radius: 5px;
                    border: none;
                    &::placeholder {
                        color: rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .error-tag {
                    font-size: 0.7rem;
                    color: #FF5C00;
                }
            }

            .submit-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 30px;
                border-radius: 5px;
                cursor: pointer;
                align-self: center;
                margin-top: 30px;
                margin-bottom: 50px;
                width: 50%;
                margin-left: 25%;
            }
        }

    }
    
}

@media (max-width: 700px) {
    .offers-table-container {
        padding: 10px;
        .download-form-container {
            .download-container {
                display: none;
            }

        }
        .table-container {
            .resume-form-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .offers-table-container {
        padding: 10px;
        .back-logo-container {
    
            .logo {
                width: 150px;
                margin-left: 0;
            }
        }
        .download-form-container {
            .download-container {
                display: none;
            }
        }
        .table-container {
            padding: 10px 10px;
            .resume-form-container {
                .left-field {
                    grid-column: 1 / 3;
                }
                .right-field {
                    grid-column: 1 / 3;
                }
                .ete-field {
                    grid-column: 1 / 3;
                }
                .submit-button {
                    width: 70%;
                    margin-left: 15%;
                }
            }
        }
    }
}